@font-face {
    font-family: VivoType;
    src: url("./font/Vivo\ Type.ttf");
}

.new-header {
    height: 80px;
    max-height: 80px;
    background-color: #35506F;
}

.new-header .header-main {
    width: 1400px;
    height: 80px;
    margin: 0 auto;
}

#logo-pic {
    width: 60px;
    height: 60px;
    margin: 10px 0px 10px 0px;
}

.life-logo {
    width: 60px;
    height: 80px;
    float: left;
}

.life-slogan {
    width: 300px;
    height: 80px;
    float: left;
    font-size: 28px;
    font-weight: bold;
    font-family: "VivoType";
    color: #FFFFFF;
    text-align: left;
    line-height: 80px;
    margin-left: 20px;

}

.life-menu {
    width: 600px;
    height: 80px;
    float: left;
}

.life-menu ul li{
    width: 100px;
    float: left;
    padding: 0px 10px;
    line-height: 80px;
    font-size: 24px;
    color: #FFFFFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.banner {
    width: 800px;
    height: 450px;
    float: left;
    background-color: aqua;
    margin-top: 20px;
    margin-left: 120px;
}


.img-wrap .item img {
    width: 800px;
    height: 450px;
}

.banner .item {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
}

.lr-tab .btn{
    position: absolute;
    top: 120px;
    width: 41px;
    height: 69px;
    background: url("./img/lr-tab.png");

}

.lr-tab .left{
    left: 0px;
    background-position-x: -83px;
}

.lr-tab .right{
    right: 0px;
    background-position-x: -125px;
}
